<!DOCTYPE html>
<html>
  <head>
    <title>DSS A+</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            var elems  = document.querySelectorAll("input[type=range]");
            M.Range.init(elems);
        };
    </script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="sass.html">DSS</a></li>
          <li><a href="badges.html">IES</a></li>
          <li><a href="collapsible.html">About us</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
