<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/assets/logo.png"/>
    <title>DSS A+</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function() {
            console.log('listo calixto');
            var elems  = document.querySelectorAll("input[type=range]");
            M.Range.init(elems);

            var elemsn = document.querySelectorAll('.sidenav');
            var sidenav = M.Sidenav.init(elemsn, []);

            var elems2 = document.querySelectorAll('.collapsible');
            var collapsible = M.Collapsible.init(elems2, []);

            var date = new Date();
            var elems3 = document.querySelectorAll('.datepicker');
            var picker = M.Datepicker.init(elems3, {'format': 'yyyy-mm-dd','disableDayFn': function(date) {
                    if(date.getDay() == 0)
                        return false;
                    else
                        return true;
                }});
        });
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>

  <body>
    <div id="nav-dss" class="row">
      <div class="col s10 m10 nav-main">
        <nav>
          <div class="nav-wrapper blue darken-4">

            <a href="#" class="brand-logo right"><img class="logo" src="/assets/logo.png"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="#" data-activates="mobile-demo" class="button-collapse show-on-large sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a></li>
              <li><a href="javascript:window.location.href='http://localhost:3000/dashboard/index'">DSS</a></li>
              <li><a href="javascript:window.location.href='http://localhost:3000/dashboard/eis'">EIS</a></li>
              <li><a href="/dashboard/documentation">Documentation</a></li>
              <li><a href="/dashboard/about">About us</a></li>
              <li><a href="/dashboard/help"><i class="material-icons icon-white">help_outline</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s2 m2">
        <!--    SIDENAV    -->
        <ul id="slide-out" class="sidenav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="/assets/background.png" width="350px" height="350px">
              </div>
              <a href="#"><img class="circle" src="/assets/logo.png"></a>
              <a href="#"><span class="white-text name">Awesome Plus</span></a>
              <a href="#"><span class="white-text email">Universidad Aut&oacute;noma de Aguascalientes</span></a>
            </div>
          </li>

          <li id="sidenav-dss">

            <div class="col m12 divider"></div>
            <ul class="collapsible">
              <li>
                <div class="collapsible-header waves-effect waves-purple light-blue darken-4"><i class="material-icons icon-white">Z</i></div>
                <div class="collapsible-body">
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">healing</i>
                        Z1 RISK
                      </h6>
                    </div>
                    <div>
                      <select id="z1" class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Low</option>
                        <option value="2">Regular</option>
                        <option value="3">High</option>
                      </select>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">traffic</i>
                        Z2 TRAFFIC
                      </h6>
                    </div>
                    <div>
                      <select id="z2" class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Low</option>
                        <option value="2">Regular</option>
                        <option value="3">High</option>
                      </select>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">cloud_circle</i>
                        Z3 WEATHER SEASON
                      </h6>
                    </div>
                    <div>
                      <div class="switch">
                        <label>
                          <span class="red-text"><b>Unfavorable</b></span>
                          <input id="z3" type="checkbox">
                          <span class="lever"></span>
                          <span class="blue-text"><b>Favorable</b></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <div class="col m12 divider"></div>
            <ul class="collapsible">
              <li>
                <div class="collapsible-header waves-effect waves-purple light-blue darken-4"><i class="material-icons icon-white">X</i></div>
                <div class="collapsible-body">
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">location_on</i>
                        X1 ACTIVE DELIVERY METHOD
                      </h6>
                    </div>
                    <div>
                      <p>
                        <label>
                          <input type="checkbox" id="x1-bike" class="filled-in" checked/>
                          <span class="black-text"><i class="material-icons">directions_bike</i> Bike</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input type="checkbox" id="x1-moto" class="filled-in" checked/>
                          <span class="black-text"><i class="material-icons">motorcycle</i> Motorbike</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input type="checkbox" id="x1-car" class="filled-in" checked/>
                          <span class="black-text"><i class="material-icons">directions_car</i> Car</span>
                        </label>
                      </p>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">attach_money</i>
                        X2 DISCOUNTS
                      </h6>
                    </div>
                    <div>
                      <p class="range-field">
                        <input type="range" id="x2" min="0" max="100" value="0"/>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <div class="col m12 divider"></div>
            <ul class="collapsible">
              <li>
                <div class="collapsible-header waves-effect waves-purple light-blue darken-4"><i class="material-icons icon-white">W</i></div>
                <div class="collapsible-body">
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">monetization_on</i>
                        W1 COST PER DELIVERY BY METHOD
                      </h6>
                    </div>
                    <div>
                      <div class="input-field">
                        <input placeholder="Bike cost" id="w1-bike" type="number" class="validate" value="15">
                        <label for="bike_cost">Bike cost</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Motorbike cost" id="w1-moto" type="number" class="validate" value="20">
                        <label for="motorbike_cost">Motorbike cost</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Car cost" id="w1-car" type="number" class="validate" value="25">
                        <label for="car_cost">Car cost</label>
                      </div>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">assessment</i>
                        W2 OPERATING EXPENSES
                      </h6>
                    </div>
                    <div>
                      <div class="input-field">
                        <input placeholder="Payroll" id="w2-payroll" type="number" class="validate" value="500">
                        <label for="payroll">Payroll</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Infrastructure" id="w2-infrastructure" type="number" class="validate" value="500">
                        <label for="infrastructure">Infrastructure</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Marketing" id="w2-marketing" type="number" class="validate" value="200">
                        <label for="marketing">Marketing</label>
                      </div>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">assignment</i>
                        W3 ORDERS
                      </h6>
                    </div>
                    <div>
                      <table>
                        <thead>
                        <tr>
                          <th class="center-align"><span class="black-text">Zone</span></th>
                          <th class="center-align"><span class="black-text">Quick</span></th>
                          <th class="center-align"><span class="black-text">Standard</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="center-align"><span class="black-text">A</span></td>
                          <td><input id="w3-a-quick" type="number" class="validate" value=10></td>
                          <td><input id="w3-a-standard" type="number" class="validate" value=10></td>
                        </tr>
                        <tr>
                          <td class="center-align"><span class="black-text">B</span></td>
                          <td><input id="w3-b-quick" type="number" class="validate" value=10></td>
                          <td><input id="w3-b-standard" type="number" class="validate" value=10></td>
                        </tr>
                        <tr>
                          <td class="center-align"><span class="black-text">C</span></td>
                          <td><input id="w3-c-quick" type="number" class="validate" value=10></td>
                          <td><input id="w3-c-standard" type="number" class="validate" value=10></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col m12 divider"></div>
                  <div class="col m12 last-collapsible">
                    <div class="collapsible-body-header deep-purple lighten-5">
                      <h6>
                        <i class="material-icons">commute</i>
                        W4 QUANTITY OF VEHICLES
                      </h6>
                    </div>
                    <div>
                      <div class="input-field">
                        <input placeholder="Bikes" id="w4-bike" type="number" class="validate" value=10>
                        <label for="bike_qty">Bikes</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Motorbikes" id="w4-moto" type="number" class="validate" value=10>
                        <label for="motorbike_qty">Motorbikes</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Cars" id="w4-car" type="number" class="validate" value=10>
                        <label for="car_qty">Cars</label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

          </li>

          <li><div class="divider"></div></li>
        </ul>
      </div>
      <div class="col s10 m10">
        <%= yield %>
      </div>
    </div>


  </body>
</html>
